# Composer
vendor
composer.lock
composer.phar

# PHP Coding Standards Fixer
.phpcs-cache

# PHP Unit
.phpunit.cache
.phpunit.result.cache

# IDE
.DS_Store
*.buildpath
*.project
/.settings
/.idea

# General
error.log